

* {
  box-sizing: border-box;
  text-align: center;
}


body {
	background: #777;
	width: 960px;
	margin: 0 auto 0 auto;
}


header {
	padding: 30px;
	background: #ebebeb;
	margin: 10px 40px;

}

nav {
	background: #ebebeb;
	padding: 30px;
	margin: 10px 40px;

}

section {
	float: 	left;
	width: 495px;
	height: 260px;
	background: #ebebeb;
	padding: 50px;
	margin: 10px 20px 20px 0px;
	position: relative;
	left: 40px	
}

article{
	background: #777;
	color: #ebebeb;
	padding: 20px;
	margin: 0px 10px;
	width: 475px;
	height: 160px;
	position: absolute;
	bottom: 10px;
	right: 2px;
}

h1 {
	background: #ebebeb;
	padding: 10px;
	color: #777;
}

p {
	background: #ebebeb;
	color: #777;
	padding: 10px;
	position: relative;
	bottom: 10px;
}


aside {
	float: left;
	background: #ebebeb;
	padding: 30px;
	height: 260px;
	width: 365px;
	margin: 10px 0px 20px 20px;
	position: relative;
	left: 20px;
}

footer {
	clear: both;
	padding: 30px;
	background: #ebebeb;
	margin: 10px 40px;
}